.analysa
reddit-posts.db
.env
.vscode
.github
src/data/nodes.csv
src/data/edges.csv
src/graph_dir/subgraph_dir
src/graph_dir/infomap_dir
src/node_embds/
src/data/distribuitions/hub_bridge_df.csv
src/research_question/rq1.ipynb

# Clustering dir
src/graph_dir/leiden_subclustering.ipynb
src/graph_dir/leiden_visualization.ipynb
src/graph_dir/louvain_subclustering.ipynb
src/graph_dir/louvain_visualization.ipynb
src/graph_dir/testing_conductance.ipynb

# Embeddings and community info
src/nlp/topic_modeling/global_metadata.csv
src/nlp/topic_modeling/community_embeddings.npy
src/nlp/topic_modeling/text_embeddings.npy
src/nlp/topic_modeling/user_embeddings.npy
src/nlp/global_metadata.csv
src/nlp/community_embeddings.npy
src/nlp/text_embeddings.npy
src/nlp/user_embeddings.npy
src/nlp/raw_textual_df.csv
src/nlp/cleaned_dataset.csv
src/nlp/sentiment/sentiment_scores.csv
src/nlp/global_embeddings.csv
src/nlp/topic_modeling/bridge_topic_counts.csv
src/nlp/topic_modeling/community_topic_counts.csv
src/nlp/topic_modeling/hub_topic_counts.csv
src/nlp/topic_modeling/top_n_topics.csv
src/nlp/topic_modeling/topic_data.csv

src/graph_dir/trash

src/research_question/users_similarity.csv